<div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Se connecter</mat-card-title>
        </mat-card-header>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nom d'utilisateur ou email" formControlName="emailOrUsername">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" fxFlexAlign="center">Se connecter</button>
                <span *ngIf="onError" class="error ml2" fxFlexAlign="center">Une erreur est survenue</span>
            </mat-card-content>
        </form>
    </mat-card>
</div>