<div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="register" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <mat-form-field fxFlex>
                    <input matInput placeholder="Nom d'utilisateur" formControlName="username">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Adresse e-mail" formControlName="email">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Mot de passe" formControlName="password">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" fxFlexAlign="center">S'inscrire</button>
                <span *ngIf="onError" class="error ml2" fxFlexAlign="center">Une erreur est survenue</span>
            </mat-card-content>
        </form>
    </mat-card>
</div>
