<div class="app">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!isHomeRoute()">
    <img src="/assets/logo_p6.png" alt="logo" routerLink="/" class="link logo-toolbar" />
    <div *ngIf="$isLogged() | async;">
      <span routerLink="posts" class="link">Articles</span>
      <span routerLink="topics" class="link">Thèmes</span>
      <span routerLink="profile" class="link">Profil</span>
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
