<div fxLayout="row" fxLayout.xs="column">
  <div>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="create m3" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="custom-card">
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title>
            <h2>Changement de mot de passe</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" fxLayout="column">
              <mat-form-field fxFlex>
                <input matInput [type]="hideOld ? 'password' : 'text'" placeholder="Ancien mot de passe"
                  formControlName="oldPassword">
                <button mat-icon-button matSuffix (click)="hideOld = !hideOld"
                  [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hideNew" type="button">
                  <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput [type]="hideNew ? 'password' : 'text'" placeholder="Nouveau mot de passe"
                  formControlName="newPassword">
                <button mat-icon-button matSuffix (click)="hideNew = !hideNew"
                  [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hideNew" type="button">
                  <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit"
                [disabled]="passwordForm.invalid">Sauvegarder</button>
              <div>
                <p *ngIf="onSuccess" class="success" fxLayoutAlign="center center">Changement sauvegardé avec succès</p>
              </div>
              <div>
                <p *ngIf="onError" class="error" fxLayoutAlign="center center">{{ errorMessage }}</p>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>