/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    margin: 0 !important;
}

.error {
    color: red;
}

.w100 {
    width: 100%;
}

.link {
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.link+.link {
    margin-left: 10px;
}

.logo-toolbar {
    max-height: 100%;
}

.custom-card {
    box-shadow: none;
}

.grey-bg {
    background-color: #f0f0f0 !important;
}