<div class="page-container" fxLayout="column">
  <div class="button-container" fxLayout.xs="column">
    <button mat-raised-button color="primary" [routerLink]="['create']" class="create-button" fxFlexAlign="center">
      Créer un article
    </button>
    <button mat-button (click)="orderBy()" class="sort-button" fxFlexAlign="center">
      Trier par 
      <mat-icon>south</mat-icon>
    </button>
  </div>
  <div class="items" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
    <div *ngFor="let post of (posts$ | async)" fxFlex="45">
      <mat-card class="item grey-bg">
        <mat-card-header>
          <mat-card-title class="link" [routerLink]="['detail', post.id]"><strong>{{ post.title
              }}</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="info-container">
            <span class="date">{{ post.createdAt | date: 'longDate':'':'fr' }}</span>
            <span class="author">Auteur: {{ post.authorUsername }}</span>
          </div>
          <p class="content">{{ post.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>